.headerbtn 
{
    background-color: rgb(20, 19, 19);
    padding: 0px;
    height: 40px;
    width: 80px;
    text-align: center;
    opacity: 0.4;
    transition: 0.5s;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 750;
    font-size: medium;
    overflow: hidden;
    display: block;
    /*cursor: pointer;*/
}

.gotopbtn
{
    position: fixed;
    width: 8px;
    height: 6px;
    bottom: 64px;
    right: 20px;
    color: #90451c;
    text-align: center;
}

.li
{
    display: inline;
    float: left;
}

.link a
{
    list-style-type: none;
    text-decoration: none;
    color:aliceblue;
    cursor: default;
}

.headerbtn:hover:not(.active)
{
    opacity: 1;
}

body
{
    margin: 0;
    padding: 0;
    position: relative;
    padding-bottom: 58px;
    min-height: 100vh;
}

li:last-child
{
    border-right: none;
    border-left: 1px solid #bbb;
}

h1
{
    position: fixed;
    top: -114px;
    font-size: 150px;
    font-weight: 800;
    color: #ceb67a;
    z-index: 100;
    position: fixed;
    top: -114px;
    left: 0;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
}

.contactlinks
{
    position: absolute;
    color: aliceblue;
    top: 90px;
    left: 60px;
}

.contactlinks.link1
{
    position: absolute;
    color: aliceblue;
    top: 90px;
    left: 60px;
}

.contactlinks.link2
{
    position: absolute;
    color: aliceblue;
    top: 90px;
    left: 160px;
}

.bckgr
{
    background-color: #000000;
}

/*----------scrollbar----------*/

::-webkit-scrollbar
{
    width: 10px;
}
  
::-webkit-scrollbar-track
{
    background: #3b3a3a;
}
  
::-webkit-scrollbar-thumb
{
    background: #a15b35;
}
  
::-webkit-scrollbar-thumb:hover
{
    background: #90451c;
}

/*----------scrollbar----------*/

/*----------faicons----------*/

#linkid
{
    font-size: 30px;
}

.fa
{
    padding: 16px;
    font-size: 60px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover
{
    opacity: 0.7;
}

.fa-facebook
{
    background: #3B5998;
    color: white;
    size: 100px;
    width: 30px;
    height: 30px;
}

.fa-instagram
{
    background: #e91b1b;
    color: white;
    size: 100px;
    width: 30px;
    height: 30px;
}

.fa-chevron-up
{
    width: 8px;
    height: 6px;
    cursor: default;
    text-align: center;
}

/*----------faicons----------*/

.centerimg
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.firstimggallerytest
{
    margin-top: 64px;
    margin-bottom: 20px;
}

/*----------navbar----------*/

#navbar .logo
{
    background-color: #90451c;
    opacity: 1;
    font-weight: 1000;
    padding: 12px;
}

#navbar .btncontact
{
    float: right;
}

#navbar .active
{
    background-color: #90451c;
    opacity: 1;
}

#navbar
{
    background-color: #3b3a3a;
    position: fixed;
    top: 0;
    width: 100%;
    transition: top 0.3s;
}

#navbar a
{
    float: left;
    display: block;
    color: aliceblue;
    text-align: center;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    padding: 14.5px;
    text-decoration: none;
    border-right: 1px solid #bbb;
    border-left: 1px solid #bbb;
    opacity: 0.5;
    cursor: default;
}

#navbar a:hover
{
    background-color:#90451c;
    cursor: default;
    opacity: 1;
}

/*----------navbar----------*/

footer
{
    text-align: center;
    background-color: #3b3a3a;
    color: aliceblue;
    position: absolute;
    width: 98.9%;
    bottom: 0;
    padding: 10px;
}

main
{
    width: 90vw;
    margin: 0 auto;
    padding: 30px 20px;
}