.headerbtn 
{
    background-color: rgb(20, 19, 19);
    padding: 0px;
    height: 40px;
    width: 80px;
    text-align: center;
    opacity: 0.4;
    transition: 0.5s;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 750;
    font-size: medium;
    overflow: hidden;
    display: block;
    /*cursor: pointer;*/
}

.gotopbtn
{
    position: fixed;
    width: 8px;
    height: 6px;
    bottom: 11%;
    right: 2%;
    color: #FFDF07;
    text-align: center;
}

.li
{
    display: inline;
    float: left;
}

.link a
{
    list-style-type: none;
    text-decoration: none;
    color:aliceblue;
    cursor: default;
}

.headerbtn:hover:not(.active)
{
    opacity: 1;
}

body
{
    margin: 0;
    padding: 0;
    position: relative;
    padding-bottom: 58px;
    min-height: 100vh;
    background-color: #000000;
}

li:last-child
{
    border-right: none;
    border-left: 1px solid #bbb;
}

h1
{
    position: fixed;
    top: -114px;
    font-size: 150px;
    font-weight: 800;
    color: #ceb67a;
    z-index: 100;
    position: fixed;
    top: -114px;
    left: 0;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
}

.followus
{
    text-align: center;
    margin-top: 10%;
    font-size: large;
    color: aliceblue;
    font-family: fantasy;
}

.contactlinks.link1
{
    position: absolute;
    color: aliceblue;
    margin-top: 7%;
    left: 48%;
}

.contactlinks.link2
{
    position: absolute;
    color: aliceblue;
    margin-top: 1%;
    left: 48%;
}

/*----------scrollbar----------*/

::-webkit-scrollbar
{
    width: 10px;
}
  
::-webkit-scrollbar-track
{
    background: #3b3a3a;
}
  
::-webkit-scrollbar-thumb
{
    background: #FFDF07;
}
  
::-webkit-scrollbar-thumb:hover
{
    background: #dfc72f;
}

/*----------scrollbar----------*/

/*----------faicons----------*/

#linkid
{
    font-size: 30px;
}

.fa
{
    padding: 16px;
    font-size: 60px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover
{
    opacity: 0.7;
}

.fa-facebook
{
    background: #3B5998;
    color: white;
    size: 100px;
    width: 30px;
    height: 30px;
}

.fa-instagram
{
    background: #e91b1b;
    color: white;
    size: 100px;
    width: 30px;
    height: 30px;
}

.fa-chevron-up
{
    width: 8px;
    height: 6px;
    cursor: default;
    text-align: center;
}

/*----------faicons----------*/

.centerimg
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.firstimggallerytest
{
    margin-top: 64px;
    margin-bottom: 20px;
}

/*----------navbar----------*/

#navbar .facebook
{
    background-color: #3B5998;
    opacity: 1;
}

#navbar .facebook:hover
{
    background-color: #203768;
    cursor: default;
    opacity: 1;
}

#navbar .instagram
{
    background-color: #cf0c0c;
    opacity: 1;
    padding: 0.7%;
}

#navbar .instagram:hover
{
    background-color: #9c1a1a;
    cursor: default;
    opacity: 1;
}

#navbar .logo
{
    background-color: #3b3a3a;
    color: #FFDF07;
    opacity: 1;
    font-weight: 1000;
    padding: 0.6%;
    font-size: 105%;
    float: left;
}

#navbar .logo:hover
{
    background-color: #3b3a3a;
}


#navbar .active
{
    background-color:#FFDF07;
    color: #000000;
    opacity: 1;
}

#navbar
{
    background-color: #3b3a3a;
    position: fixed;
    top: 0;
    width: 100%;
    transition: top 0.3s;
}

#navbar a
{
    float: left;
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 106%;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.7%;
    text-decoration: none;
    border-right: 1px solid #bbb;
    border-left: 1px solid #bbb;
    opacity: 0.5;
    cursor: default;
    width: 10%;
    float: right;
}

@media screen and (max-Width: 899px)
{
    #navbar a
    {
        float: none;
        display: block;
        width: 100%;
        text-align: left;
        border-right: 1px solid #bbb;
        border-left: 1px solid #bbb;
    }
    #navbar .btncontact
{
    float: none;
}
}

#navbar a:hover
{
    background-color: #dfc72f;
    cursor: default;
    opacity: 1;
}

#navbar .dropdown
{
    position: relative;
    display: inline-block;
}
  
#navbar .dropdown-content
{
    display: none;
    position: absolute;
    background-color: #3b3a3a;
    min-width: 100%;
    width: 10%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 8% 10%;
    z-index: 1;
    text-decoration: none;
    border-right: 1px solid #bbb;
    border-left: 1px solid #bbb;
    cursor: default;
    right: 0%;
    text-align: left;
    font-size: 90%;
    font-family: Arial, Helvetica, sans-serif;
}
  
#navbar .dropdown:hover .dropdown-content
{
    display: block;
}

#navbar .dropdown-content a
{
    color: black;
    padding: 0.7%;
    text-decoration: none;
    display: block;
}

/*----------navbar----------*/

footer
{
    text-align: center;
    background-color: #3b3a3a;
    color: aliceblue;
    position: absolute;
    width: 98.4%;
    bottom: 0;
    padding: 0.8%;
}

.footerp
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main
{
    width: 90vw;
    margin: 0 auto;
    padding: 30px 20px;
}

.comingsoon
{
    text-align: center;
    margin-top: 400px;
    font-size: large;
    color: aliceblue;
    font-family: fantasy;
}

.logowr
{
    background-image: url("woodroom.jpg");
    width: 70%;
    height: 70%;
    image-resolution: 100%;
    text-align: center;
}

.scrollsmooth
{
    scroll-behavior: smooth;
}

/*----------loading----------*/

.homeimg
{
    margin-top: 0%;
    margin-bottom: 5%;
}

.gifabout
{
    margin-top: 20%;
}

/*----------loeading----------*/
