.headerbtn 
{
    background-color: rgb(20, 19, 19);
    padding: 0px;
    height: 40px;
    width: 80px;
    text-align: center;
    opacity: 0.4;
    transition: 0.5s;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 750;
    font-size: medium;
    overflow: hidden;
    display: block;
    /*cursor: pointer;*/
}

.gotopbtn
{
    position: fixed;
    width: 8px;
    height: 6px;
    bottom: 20px;
    right: 30px;
    color: #90451c;
    text-align: center;
}

.li
{
    display: inline;
    float: left;
}

.link a
{
    list-style-type: none;
    text-decoration: none;
    color:aliceblue;
    cursor: default;
}

.headerbtn:hover:not(.active)
{
    opacity: 1;
}

.btncontact
{
    float: right;
}

.active
{
    background-color: #90451c;
    opacity: 1;
}

body
{
    margin: 0;
    padding: 0;
}

a
{
    display: block;
    padding: 12px;
}

ul 
{
    background-color: #333;
    list-style-type: none;
    margin: 0px;
    padding: 0;
    overflow: hidden;
    top: 0px;
    position: relative;
}

li
{
    border-right: 1px solid #bbb;
    border-left: 1px solid #bbb;
}
  
li:last-child
{
    border-right: none;
    border-left: 1px solid #bbb;
}

h1
{
    position: fixed;
    top: -114px;
    font-size: 150px;
    font-weight: 800;
    color: #ceb67a;
    z-index: 100;
    position: fixed;
    top: -114px;
    left: 0;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
}

.contactlinks
{
    position: absolute;
    color: aliceblue;
    top: 400px;
}

.bckgr
{
    background-color: #000000;
}

::-webkit-scrollbar
{
    width: 10px;
}
  
::-webkit-scrollbar-track
{
    background: #f1f1f1;
}
  
::-webkit-scrollbar-thumb
{
    background: #a15b35;
}
  
::-webkit-scrollbar-thumb:hover
{
    background: #90451c;
}

.fa
{
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

.fa:hover
{
    opacity: 0.7;
}

.fa-facebook
{
    background: #3B5998;
    color: white;
}

.fa-chevron-up
{
    width: 8px;
    height: 6px;
    cursor: default;
    text-align: center;
}

.centerimg
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.firstimggallerytest
{
    margin-top: 64px;
}